body{
background-color: black;

}
.cabecera{
 background-image: url('../img/fondo1.jpg');
 margin-top: -8px;
 margin-left: -8px;
 margin-right: -8px;
 margin-bottom:-21px;

 height: 400px;
}
.contenedor{
 background-color: #CCC;
 border-bottom-width: 2px;
 border-bottom-color: black;
 height:960px;
 margin-top:-2px;
 margin-left: 50px;
 margin-right: 50px;
 margin-bottom: 2px;
}
.titulo{

 border-bottom-style: dashed;
 border-bottom-width: 2px;
 border-bottom-color: black;

}
.texto{
 margin-left: 100px;
 margin-right: 100px;
 margin-top:0px;
 
 border-bottom-style: solid;
 border-bottom-width: 2px;
 border-bottom-color: black;
 
 border-right-style: solid;
 border-right-width: 2px;
 border-right-color: black;
 
 border-left-style: solid;
 border-left-width: 2px;
 border-left-color: black;
 
 padding-left: 20px;
 padding-bottom: 20px;
 padding-right: 20px;

}
.cabecera img{
  border-radius: 50%;
  margin-top:50px;
  width:300px;
  height:300px;
  
}
