
body{
background-color: black;

}

.contenedor{
 background-color: #CCC;
 border-bottom-width: 2px;
 border-bottom-color: black;
 height:960px;
 width:960px;
 margin-left: auto;
margin-right: auto;
margin-top:0px;
margin-bottom:0px;
}


.block1, .block3, .block5, .block7{
background-color: white;
width: 200px;
}
.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8{
margin-left: auto;
margin-right: auto;
margin-top:0px;
margin-bottom:0px;
}

.block1, .block5{
height:50px;
}
.block2{
background-color: red;
height: 100px;
width: 960px;
}
.block3{
height:100px;

}
.block4{
background-color: yellow;
height: 50px;
width: 500px;
}
.block6{
background-color: blue;
height: 50px;
width: 500px;
}
.block7{
height: 50px;
}
.block8{
background-color: white;
height: 50px;
width: 960px;
}



